#Hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.hero-left {
    width: 650px;
}

.hero-left h1 {
    font-size: 65px;
    margin-bottom: 25px;
}

.hero-left-buttons {
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.contact-btn {
    font-size: 14px;
    background-color: #171717;
    color: white;
}

.work-btn {
    font-size: 14px;
    color: #171717;
    border: 1px solid #171717;
}

.hero-right img {
    border-radius: 20px;
}