#Hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

.hero-left {
  width: 650px;
}

.hero-left h1 {
  font-size: 65px;
  margin-bottom: 25px;
}

.hero-left-buttons {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.contact-btn {
  font-size: 14px;
  background-color: #171717;
  color: white;
  border: none;
}

.work-btn {
  font-size: 14px;
  color: #171717;
  border: 1px solid #171717;
}

.work-btn:hover {
  background-color: white;
}

.hero-right img {
  border-radius: 20px;
}

.hero-left {
  animation: slideInLeft 1s ease forwards;
}

.hero-right {
  animation: slideInRight 1s ease forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  #Hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }

  .hero-left {
    width: 100%;
  }

  .hero-left h1 {
    font-size: 33px;
  }

  .hero-right img {
    width: 100%;
    margin-top: 30px;
  }

  .contact-btn {
    margin-right: 13px;
  }
}

/* tablet */
@media only screen and (min-width: 430px) and (max-width: 770px) {
  #Hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }

  .hero-left {
    width: 100%;
  }

  .hero-left h1 {
    font-size: 50px;
  }

  .hero-right img {
    width: 100%;
    margin-top: 40px;
  }
}
