#Header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container ul {
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.navbar-container li {
    font-family: "Roboto Mono", monospace;
}

.contact-btn {
    font-size: 14px;
    background-color: #171717;
    color: white;
}

#hr {
    height: 30px;
}

#linkedin-icon {
    width: 28px;
}

#symbols {
    color: rgb(67, 124, 174);
    font-weight: 800;
}