#Benefits {
    padding: 30px 0px;
}

#Benefits h1 {
    font-size: 35px;
}

.benefits-container {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    align-items: center;
    gap: 45px;
}
